.breadcrumb {
  margin: 20px 0;

  .breadcrumb-item-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Makes the breadcrumb items inline */
    text-transform: capitalize;
  }

  .breadcrumb-item {
    position: relative;
    padding: 0 20px 0 0px;

    &.active {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }

    &:not(:first-of-type) {
      padding: 0 20px 0 15px;
    }
  }

  .breadcrumb-item::after {
    content: "/"; /* Unicode arrow symbol */
    position: absolute;
    right: 0;
    top: 0;
    color: #333;
  }

  .breadcrumb-item:last-child::after {
    content: ""; /* Remove the arrow from the last item */
  }

  .breadcrumb-item a {
    text-decoration: none;
  }
}
