@import "../abstract/_mixins.scss";
@import "../abstract/_vars.scss";

// Define your breakpoints
$breakpoints: (
  "xs": 0,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
);

// Container width settings for each breakpoint
$container-widths: (
  "xs": 100%,
  // Extra small
  "sm": 540px,
  // Small
  "md": 720px,
  // Medium
  "lg": 960px,
  // Large
  "xl": 1140px,
  // Extra large
  "xxl": 1320px // Extra extra large,,,,,,,,,
);

// Mixin to generate container styles
@mixin container {
  width: 100%;
  @include respond-to(small) {
    margin: 0;
    padding: 0 10px;
    width: auto;
  }
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;

  @each $breakpoint, $value in $breakpoints {
    @if map-get($container-widths, $breakpoint) {
      @media (min-width: $value) {
        max-width: map-get($container-widths, $breakpoint);
      }
    }
  }
}

// Apply the container styles
.container {
  @include container;
}
